*.elc
*~
.DS_Store
.\#*
.cache/
.mc-lists
/.tutor
/eln-cache
/racket-mode/
\#*\#
ac-comphist.dat
auto-save-list/
autoloads.el
backups
bookmarks
custom.el
elpa/
eshell/
games/
ido.last
loaddefs.el
network-security.data
places
projectile-bookmarks.eld
recentf
server/
transient/
url/
var/
workspace/
