*.elc
.\#*
\#*\#
*~
.DS_Store
ac-comphist.dat
auto-save-list/
autoloads.el
backups
bookmarks
custom.el
elpa/
eshell/
games/
ido.last
network-security.data
places
projectile-bookmarks.eld
recentf
server/
url/
